In [1]:
import pandas as pd

In [7]:
min_definition = pd.read_excel("./../data/interim/min-definition_2020-06-04.xlsx")
max_definition = pd.read_excel("./../data/interim/max-definition_2020-06-04.xlsx")
fully_covered  = pd.read_excel("./../data/interim/fully-covered-definition_2020-06-04.xlsx")

In [8]:
min_definition

   year iso3  stateness  successful_transition                   approach
0  2000  SRB  90.186891                      1  lowest common denominator
1  2003  GEO  42.121186                      1  lowest common denominator
2  2004  UKR  31.951018                      1  lowest common denominator
3  2005  KGZ  10.603574                      0  lowest common denominator
4  2009  MDA  13.582207                      0  lowest common denominator
5  2010  KGZ  14.582530                      0  lowest common denominator
6  2014  UKR  41.827017                      1  lowest common denominator

In [9]:
result = pd.concat([min_definition, fully_covered, max_definition], ignore_index=True)
result

    year iso3  stateness  successful_transition                   approach
0   2000  SRB  90.186891                      1  lowest common denominator
1   2003  GEO  42.121186                      1  lowest common denominator
2   2004  UKR  31.951018                      1  lowest common denominator
3   2005  KGZ  10.603574                      0  lowest common denominator
4   2009  MDA  13.582207                      0  lowest common denominator
5   2010  KGZ  14.582530                      0  lowest common denominator
6   2014  UKR  41.827017                      1  lowest common denominator
7   2000  SRB  89.319066                      1              fully covered
8   2003  GEO  54.014962                      1              fully covered
9   2004  UKR  67.685713                      1              fully covered
10  2005  KGZ  32.217639                      0              fully covered
11  2009  MDA  38.138889                      0              fully covered
12  2010  KGZ  32.043628                      0              fully covered
13  2014  UKR  60.890434                      1              fully covered
14  2000  SRB  59.546044                      1             max definition
15  2003  GEO  37.376371                      1             max definition
16  2004  UKR  60.259773                      1             max definition
17  2005  KGZ  31.021004                      0             max definition
18  2009  MDA  37.780018                      0             max definition
19  2010  KGZ  27.388134                      0             max definition
20  2014  UKR  50.456705                      1             max definition

In [10]:
result.to_excel("./../data/processed/stateness.xlsx", index=False)